@model Job
@{
    ViewData["Title"] = "View Job";
}

<div class="container">
    <h2 class="text-center">@Model.Name <span class="text-muted">at</span> @Model.Company</h2>

    <table class="d-flex flex-column ">
        <thead>
            <tr class="d-flex border">
                <th class="w-50 text-center">Name</th>
                <th class="w-50 text-center">Company</th>
                <th class="w-50 text-center">Location</th>
                <th class="w-50 text-center">Description</th>
                <th class="w-50 text-center">Salary Min</th>
                <th class="w-50 text-center">Salary Max</th>
                <th class="w-50 text-center">Application Date</th>
                <th class="w-50 text-center">Link</th>
                <th class="w-50 text-center">Travel</th>
                <th class="w-50 text-center">Team</th>
                <th class="w-50 text-center">Applied</th>
                <th class="w-50 text-center">Salary Offered</th>
                <th class="w-50 text-center">Accepted</th>
                <th class="w-50 text-center">Denied</th>
                <th class="w-50 text-center">Benefits</th>

                <th class="w-50 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="d-flex justify-content-center w-100 border">
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">
                    <a href="/job/@Model.JobId/view">@Model.Name</a>
                </td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Company</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Location</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Description</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">$@Model.SalaryMin</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">$@Model.SalaryMax</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.ApplicationDate</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Link</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Travel</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Team</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Applied</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">$@Model.SalaryOffer</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Accepted</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Denied</td>
                <td class="w-50 text-center border d-flex justify-content-center align-items-center">@Model.Benefits</td>


                <td class="w-50 text-center border d-flex justify-content-center align-items-center" class="d-flex gap-2">
                    @if(Model.UserId == Context.Session.GetInt32("UUID"))
                    {
                        <form
                            asp-controller="Job"
                            asp-action="DeleteJob"
                            asp-route-deletedJobId="@Model.JobId"
                            method="POST">
                            <button class="text-danger bg-transparent border-0 p-0">Delete</button>
                        </form>
                        <a href="/job/@Model.JobId/edit" class="text-warning text-decoration-none">Edit</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <a href="/interview/new/@Model.JobId">New Interview</a>
    </div>
</div>